[submodule "libsparseir"]
	path = libsparseir
	url = git@github.com:SpM-lab/libsparseir.git
[submodule "libxprec"]
	path = libxprec
	url = git@github.com:tuwien-cms/libxprec.git
[submodule "eigen"]
	path = eigen
	url = git@gitlab.com:libeigen/eigen.git
[submodule "twofloat"]
	path = twofloat
	url = git@github.com:ajtribick/twofloat.git
[submodule "SparseIR.jl"]
	path = SparseIR.jl
	url = git@github.com:SpM-lab/SparseIR.jl.git
[submodule "sparse-ir"]
	path = sparse-ir
	url = git@github.com:SpM-lab/sparse-ir.git
[submodule "GenericLinearAlgebra.jl"]
	path = GenericLinearAlgebra.jl
	url = git@github.com:JuliaLinearAlgebra/GenericLinearAlgebra.jl.git
[submodule "mdarray"]
	path = mdarray
	url = git@github.com:fre-hu/mdarray.git
[submodule "mdarray-linalg"]
	path = mdarray-linalg
	url = https://github.com/grothesque/mdarray-linalg
[submodule "ndarray"]
	path = ndarray
	url = git@github.com:rust-ndarray/ndarray.git
